body
{
	background-color: #F4EED7;
}

td.calDate
{
	border: 1px solid;
	cursor: crosshair;
}

td.weekend
{
	background-color: #F2F4B3;
}

td.type12
{
	background-color: #5757FF;
}

td.type19
{
	background-color: #62D0FF;
}

td.type20
{
	background-color: #FF68DD;
}

td.type21
{
	background-color: #FF800D;
}

td.type22
{
	background-color: #FF4848;
}
