body
{
	background-color: #F4EED7;
}

td.weekend
{
	border: 1px solid;
	background-color: #F2F4B3;
	cursor: crosshair;
}

td.type12
{
	border: 1px solid;
	background-color: #5757FF;
	cursor: crosshair;
}

td.type19
{
	border: 1px solid;
	background-color: #62D0FF;
	cursor: crosshair;
}

td.type20
{
	border: 1px solid;
	background-color: #FF68DD;
	cursor: crosshair;
}

td.type21
{
	border: 1px solid;
	cursor: crosshair;
}
